@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alexandria&family=Exo:ital@1&family=Libre+Baskerville&family=Montserrat&family=Roboto+Mono:wght@500&display=swap');
*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  font-size: medium;
  scroll-behavior: smooth;

  
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



h2{

  font-family: 'Montserrat', sans-serif;
}


p{

  font-family: 'Libre Baskerville', serif;
    padding:5px;

}
/* ///////////..utility classes../////////// */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}



.showcase-btn{
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
  color: white;
  background: transparent;
  border: 1px solid white;
}

.showcase-btn:hover{
  background: transparent;
  transition: background 0.3s ease-in-out;
  border:none;
}

/* ............/navbar/............ */



.navbar {
  box-shadow: 0px 5px 10px 0px #1C0A00;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12;

  
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Exo', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight:500;
    text-transform: uppercase;
    color:black;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #f9004d;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
  font-family: 'Alexandria', sans-serif;
  text-transform: uppercase;
}

/* ............//// Showcase styling ////......... */

.showcase-area {
  height: 50vh;
  width: 100%;
  background:rgba(0, 0, 0, 0.301);
}



.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
  color:white
}

.video-container{
width:100%;
height:100%;
position:absolute;
z-index: -1;



}

.showcase-container .showcase-btn{

background: transparent;
border:  1px solid orange;
color:white;
margin-top: 15px;
font-family: 'Montserrat', sans-serif;
font-size: medium;
}


.showcase-container .showcase-btn:hover{

background:transparent;
border: 1px solid #f9004d;



}

 

.main-title {
  margin-top: 1.5em;
  font-family: 'Montserrat', sans-serif;

}



.showcase-container p{
  padding-top: 10px;
  font-family: 'Alexandria', sans-serif;
}



/* ......//about us//...... */


#about-section{
    width: 100%;
	padding: 100px 0px;
	background-color: black;
    
    
    
    }

    .about-link img{
        height: auto;
        width: 1000px;

    
    
    }
    .about-text{
        width: 600px;

    }
    
    
    

    .about-box{
        max-width: 95%;
        width:2000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }



    .about-text h2{
        color: white;
        font-size: 75px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .about-text h5{
        color: white;
        letter-spacing: 2px;
        font-size: 22px;
        margin-bottom: 25px;
        text-transform: capitalize;
        font-family: 'Montserrat', sans-serif;

    }
    .about-text p{
        color: #dda15e;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 45px;
        font-family: 'Exo', sans-serif;

    }

    #about-section span{
    font-family: 'Alexandria', sans-serif;
    color: #fee440;


    }


    #about-section button{
      background-color:transparent;
      color: white;
      text-decoration: none;
      border: 2px solid #ecf39e;
      font-weight: bold;
      padding: 13px 30px;
      border-radius: 30px;
      transition: .4s; 
      font-family: 'Montserrat', sans-serif;

    }
  #about-section button:hover{
      background-color: transparent;
      border: 2px solid #f9004d;
      cursor: pointer;
  }




.about-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
}

/* ..........////Food category///........... */
#food{
  
  
  padding:3rem;
 background-color: #1C0A00;
 height: 800px;


}

.btn-primary{

  background-color: transparent;
      color: white;
      text-decoration: none;
      border: 2px solid #ecf39e;
      font-weight: 500;
      padding: 13px 30px;
      border-radius: 30px;
      transition: .4s; 
      font-family: 'Montserrat', sans-serif;
  }
 

.btn-primary:hover{
  background-color: #1C0A00;
  border-color: #f9004d;
  
  

}

.food-categ-container{
display:flex;
justify-content: center;
padding:50px;

}

.food-categ-container h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  text-transform:capitalize;
  color: white;
}



.gallery .box-container{
display: flex;
flex-wrap: wrap;
gap:2rem;
}

.gallery .box-container .box{
overflow: hidden;
box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
border: 3px solid #dda15e;
border-radius: .5rem;
flex:1 1 30rem;
height: 20rem;
width: 15rem;
position: relative;

}

.gallery .box-container .box img{
height: 100%;
width:100%;
object-fit: cover;
}

.gallery .box-container .box .content{
position: absolute;
top: -80%; left:0%;
height: 100%;
width:100%;
text-align: center;
background:rgba(0,0,0,.7);
padding-top: 4rem;
transition: .5s ease-in-out;


}


.gallery .box-container .box:hover .content{
top:0;
transition: .5s ease-in-out;
}

.gallery .box-container .box .content h3{
font-family: 'Roboto Mono', monospace;
font-size: 2.5rem;
color:white;
}

.gallery .box-container .box .content p{
font-size: 1.5rem;
color:#eee;
padding:.5rem 0;
font-family: 'Montserrat', sans-serif;
margin-bottom: 1rem;
}



#food-menu{
  background: #0a0908;
}

.food-menu-heading {
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
  color: white;
  padding-top: 100px;
}

.food-menu-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 30px 0px;
}

.food-menu-container img {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
    border: 3px solid #dda15e;

}

.food-menu-item {
  display: flex;
  flex: 1 1 600px;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.food-description {
  margin: auto 1rem;
}

.food-title {
  font-size: 1.8rem;
  font-weight: 400;
  color: #f9004d;
  font-family: 'Exo', sans-serif;

}

.food-description p {
  font-size: 1.4rem;
  color: #dda15e;
}

.food-description .food-price {
  color: white;
  font-weight: 500;
  font-family: 'Exo', sans-serif;

}

/* ........./ reviews /.......... */

#testimonials {
  padding: 5rem 0;
  background: #1C0A00;
}

.testimonial-title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  color: white;
}

.testimonial-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 1rem;
}

.testimonial-box .checked {
  color: #fee440;
}

.testimonial-box .testimonial-text {
  margin: 1rem 0;
  color: white;
}

.customer-photo p{
  color:#EEEEEE;
}

.testimonial-box {
  text-align: center;
  padding: 1rem;
}


.customer-photo img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: auto;
  border: 3px solid #dda15e;
}

/* ........ Contact Us........... */

#contact {
  padding: 5rem 0;
  background: rgb(17, 7, 0)
}

.contact-container {
  display: flex;
  background: #fff;

}

.contact-img {

  width: 50%;
  height: 100%;
  padding:20px;
}

.contact-img img {
  display: block;
  height: 400px;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.form-container .form-button{


 
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
    background: #1C0A00;
    color:white;
  
  }
  
  .form-container .form-button:hover{
    background: #333;
    transition: background 0.3s ease-in-out;
  }

  


.form-container {
  padding: 1rem;
  width: 50%;
  margin: auto;
  border-radius: 50%;
}

.form-container input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  font-weight: 500;
}
::placeholder{
  color: #1C0A00;
}

.form-container textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  color: #444;
  outline: none;
  padding: 1rem 0;
  resize: none;
}

.form-container h2 {
  font-size: 2.7rem;
  font-weight: 500;
  color: #1C0A00;
  margin-bottom: 1rem;
  margin-top: -1.2rem;
}

.form-container a {
  font-size: 1.3rem;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  padding-left: 10px;
  background: black;
  position:relative;
  z-index: 51;
}

.footer .box-container .box{
  flex:1 1 25rem;

}

.footer .box-container .box h3{
  color:white;  
  font-size: 2.5rem;
  padding:1rem 0;
}

.footer .box-container .box a{
  display: block;
  color:white;
  font-size: 1.5rem;
  padding:1rem 0;
  text-decoration: none;
}

.footer .box-container .box a:hover{
  color: #f9004d;
  text-decoration:none;
}

.footer .box-container .box  img{
  margin-top: 1rem;
}

.footer .credit{
  text-align: center;
  padding:1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color:#333;
  border-top: .1rem solid rgba(0,0,0,.1);
  padding-bottom: 9rem;
}

.credits h4{
 padding-top: 5%;
text-align: center;
background: black;
color: #333;
position:relative;
z-index:53;


}

.reservation-footer{

  position: relative;
  z-index: 50;
}

.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(60, 35, 23, 0.623);
  color: white;
  text-align: center;
  font-size:x-small;
  font-family: 'Exo', sans-serif;

}







